
/************************Style for navigations *************************/

body {
    height: 2000px;
}

.logo-responsive {
    margin-top: -37px;
    height: 100px;
    width: 100px;
}


.name {
    font-size: 30px;
    text-decoration: solid;
    padding-bottom: 15px;
    padding-left: 5px;
    font-weight: 0.5;
    color: #ffffff
}

.navbar {
    padding: 25px 0px;
    border-bottom: none !important;
    transition: all 0.5s ease-in-out;
}

.navbar-inverse{
    background-color: transparent;
}

.navbar ul li a {
    color: white !important;
    letter-spacing: 1px;
    transition: all 0.5s ease-in;
    font-weight: lighter;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #a3297a !important;
    font-weight: bold;
}

.navbar-toggle {
    border: solid white !important;
}

.navbar-toggle:hover {
    background-color: #a3297a !important;
    transition:all 0.5s ease-in;
}

.navbar-inverse .navbar-collapse {
    border-color: transparent !important;
}

.contact{
    border: 1px solid white;
    border-radius: 50px;
}

.contact:hover{
    border: 1px solid #a3297a;
    border-radius: 50px;
}

.slider {
    width: 100%;
    height: 700px;
    background-image: url('../img/kemda\ sandra\ winner\ of\ slam\ the\ skill.jpg');
    background-size: cover;
    background-position: center;
}

.slider-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    position: relative;
}

.slider-content{
    position: absolute;
    top: 39%;
    width: 100%;
}



.btn1{
    text-decoration: none !important;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    letter-spacing: 1px;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 0.5s ease-in;
}

.btn1:hover{
    text-decoration: none !important;
    background-color: #a3297a;
    border-color: #a3297a;
}


.social-network a.fa {
    border: 1px solid white;
    padding: 10px;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    margin-right: 2px;
    transition: all 0.5 ease-in !important;
}

.social-network a.fa:hover{
    text-decoration: none;
    background-color: #a3297a;
    border: 1px #a3297a;
    transition: all 0.5 ease-in !important;

}

.con-text{
    color: white;
}


.slider .text, .slider .typed-cursor{
    display: inline;
    font-size: 40px;
    color: #ffffff;
}


.primary{
    color: #a3297a;
}

.secondary{
    background-color: #000;
    opacity: 0.85;
}

.service-wrap{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    padding: 25px 35px;
    position: relative;
    transition: all 0.5 ease 0s;
    z-index: 9;
    margin-top: 20px;
}

.service-wrap::before, .service-wrap::after{
    content: "";
    height: 300%;
    position: absolute;
    transform: rotate(45deg);
    width: 120%;
    z-index: -9;
    transition: all 0.5s;
    opacity: 0;
    background-color: #a3297a;

}

.service-wrap::before{
    top: -37px;
    left: 100%;
}

.service-wrap:hover::before{
    left: -27px;
    opacity: 1;
}

.service-wrap::after{
    right: 100%;
    bottom: -37px;
}

.service-wrap:hover::after{
    right: -27px;
    opacity: 1;
}

.service-wrap:hover{
    color: white;

}

.service-wrap:hover h3{
    color: white;
}

.service-wrap:hover h3:after{
    background-color: white;
}

.service-icon i{
    font-size: 30px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}

.service-wrap:hover .service-icon i{
    transform:rotate(360deg);
}

.service-wrap h3 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}

.service-wrap p {
    font-size: 14px;
    margin-bottom: 0px;
}

.service-area{
    margin-bottom: -5px;
}

.work{
    margin-top: 25px;
}

.row.no-gutters [class*=-col] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper{
    overflow: hidden;

}

.img-wrapper img{
    transition: transform 0.5s ease;
    width: 100%;
}

.img-wrapper img:hover{
    transform: scale(1.5);
    cursor: zoom-in;
}


.team{
    margin-top: 50px;
}

.team-member{
    margin: 0 25px;
}

.team-member-info{
    padding: 10px 0 30px 0;
}

h4.team-member-name{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 2px;
}


h4.team-member-designation{
    color: #a3297a;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    text-transform: capitalize;
}

.social-list{
    padding-left: 0px;
}

.social-list li{
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 16px;
}

.social-list i{
    font-size: 17px;
}

.icon-gray{
    color: #64707b;
}

.team-man{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    border: 5px solid #a3297a;
    border-radius: 50%;
}

.team-man img{
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;

}

.team-block h3{
    color: #a3297a;
    font-size: 20px;
    font-weight: 700;
    padding-top: 70px;
    margin-bottom: 5px;
}

.team-block span {
    color: #6c6c6c;
    font-size: 16px;
    letter-spacing: 0.025em;
}

.team-block p {
    color: dimgray;
    font-size: 14px;
    padding: 25px 15px;
    line-height: 24px;
}

.team-description{
    background-color: #f5f5f5;
}

.team-social-network{
    text-align: center;
    padding-bottom: 15px;
}

.team-social-network a{
    margin: 0 6px;
}

.team-social-network i{
    margin: 6px;
}

.team-social-network i{
    height: 40px;
    width: 40px;
    text-align: center;
    color: #a3297a;
    border-radius: 50%;
    border: 3px solid #a3297a;
    padding-top: 10px;
}

.team-block {
    text-align: center;
    position: relative;
}

.team-block:hover .team-description {
    background-color: #a3297a;
    color: white;
    transition: .4s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.team-block:hover .team-title h3,
.team-block:hover .team-title span
{
    color: white;
    transition: .4s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.team-block:hover .team-description p{
    color: #f9f9f9;
    transition: 0.5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

.team-block:hover .team-social-network i{
    border-color: white;
    background: #a3297a;
    color: white;
    transition: .4s ease-in;
    -webkit-transition: .6s ease-in;
    -moz-transition: .6s ease-in;
    -o-transition: .6s ease-in;
}

.latest-news-area{
    margin-top: 40px;
}

.latest-news-wrap{
    box-shadow: 0px 3px 10px rgba(0,0,0,0.4);
}

.news-img{
    position: relative;
}

.news-img:before{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    content: "";
    opacity: 0;
    transform: scale(.8);
    transition: all 0.5s;
}

.latest-news-wrap:hover .news-img:before{
    opacity: .5;
    transform: scale(1);
}

.date{
    background: #a3297a none repeat scroll 0 0;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    padding: 10px;
}

.date span{
    display: block;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.news-content{
    padding: 20px;
    margin-left: 3px;
}

.news-content i{
    font-size: 18px;
    display: inline-block;
}

.news-content .fa{
    padding: 10px 10px;
    cursor: pointer;
}

.news-content .fa-facebook{
    color: #3b5995;
}

.news-content .fa-whatsapp{
    color: #34af23;
}

.news-content .fa-instagram{
    color: #c441419d;
}

.news-content p {
    margin-bottom: 15px;
    text-align: justify;
    margin-top: 20px;

}
