.img-responsive {
    margin-top: -41px;
    height: 100px;
    width: 100px;
}


.name {
    font-size: 30px;
    text-decoration: solid;
    padding-bottom: 15px;
    padding-left: 5px;
    font-weight: bold;
    color: #ffffff
}

.navbar {
    padding: 25px 0px;
}