<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/camera.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo_style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    


    <title>Talent Planet</title>
</head>
<body>
    
    <!------------------ Navigion start --------------------->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!------------------Responsive button --------------------->
                <button  type ="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navi">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">
                    <img src="{% static 'img/talent planet logo.png' %}" alt="logo" class="logo pull-left logo-responsive d-inline-block align-top">
                    <span class="name pull-left">Talent Planet</span>
                </a>
            </div>


            <div class="collapse navbar-collapse" id="navi">
                <!------------------Navigation menu --------------------->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#slider">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="#event">Event</a></li>
                    <li><a href="#team">Team</a></li>
                    <li><a href="#footer" class="contact">Contact Us</a></li>
                </ul>
                <!------------------Navigation menu ends --------------------->
            </div>



        </div>
    </nav>
    <!------------------ Navigion ends --------------------->

    <!------------------Slider section--------------------->
        <section class="slider text-center" id="slider">
            <div class="slider-overlay">
                <div class="slider-content">
                    
                    <br>
                    <div class="text"></div>
                    <br><br>
                    <div class="cta-div">
                        <a href="" class="btn1"><span class="con-text">Contact Us</span></a>
                    </div>
                    <br>
                    <br>
                    <div class="social-network">
                        <a href="" class="fa fa-facebook"></a>
                        <a href="" class="fa fa-instagram"></a>
                        <a href="" class="fa fa-whatsapp"></a>
                    </div>

                </div>

            </div>


        </section>

    <!------------------Slider section ends--------------------->


    <!------------------About section start--------------------->
    <br><br>
    <section class="about" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center about-p">
                        <h2><b>About Us</b></h2>
                        <p><strong>Talent Planet</strong> is a <strong>Youth empowerment association</strong><br><br>
                        aimed at inspiring, motivating and promoting youths<br><br>to become self employed by grooming their 
                        skills.<br><br>The association was created on 07 March 2019,<br><br> has ran one event known as Slam the Skill and 
                        has <br><br>trained over 25 youths in their feild of intrest</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!------------------About section end--------------------->


    <!------------------Services section start--------------------->

    <section class="service-area" id="services">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2><b>Services</b></h2>
                        <p>We offer a variety of services to you for your empowerment.<br> Fill free to engage! </p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-wrap text-center">
                                <div class="service-icon">
                                    <i class="fa fa-leaf"></i>
                            </div>
                            <h3>Training</h3>
                            <p>
                                We train and orientate our students in the path they want to 
                                follow in becoming iconic figure in thier field.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-wrap text-center">
                            <div class="service-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <h3>Consultancy</h3>
                            <p>
                                We train and orientate our students in the path they want to 
                                follow in becoming iconic figure in thier field.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="service-wrap text-center">
                                <div class="service-icon">
                                    <i class="fa fa-diamond"></i>
                                </div>
                            <h3>Development</h3>
                            <p>
                                We train and orientate our students in the path they want to 
                                follow in becoming iconic figure in thier field.
                            </p>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <!------------------Services section end--------------------->


    <br><br>
    <div class="body">
    <section id="gallery" class=" section-spacing bottom-none inverse-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center">
                        <h2><span><b>Gallery</b></span></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    <ul id="filter-list">
                        <li class="filter active" data-filter="all">All</li>
                        <li class="filter" data-filter="1">Slam the Skill</li>
                        <li class="filter" data-filter="2">Slam the Skill Winner</li>
                        <li class="filter" data-filter="3">Quotes</li>

                    </ul>
                </div>
            </div>
            <div class="gallery-outer">
                <ul class="gallery-items" style="padding:0px; position: relative; height: 1261px;">
                    <li class="filtr-item" data-category="1" style="opacity: 1; transform: scale(1) translate3d(0px 0px, 0px);backface-visibility: hidden;
                    perspective: 1000px; transform-style: preserve-3d; position: absolute;
                    transition: all 0.5s ease-in-out 0ms; pointer-events: auto;">
                    <div class="gallery-inner col-md-3">
                        <img src="{% static 'img/sandra 14.jpg' %}" alt="">
                        <div class="gallery-overlay">
                            <a href="{% static 'img/sandra 14.jpg' %}" class="venobox vbox-item" data-gallery="gallery">
                            <i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    </li>
    
                    <li class="filtr-item" data-category="1" style="opacity: 1; transform: scale(1) translate3d(315.25px 0px, 0px);backface-visibility: hidden;
                    perspective: 1000px; transform-style: preserve-3d; position: absolute;
                    transition: all 0.5s ease-in-out 0ms; pointer-events: auto;">
                    <div class="gallery-inner col-md-3">
                        <img src="{% static 'img/quote.jpg' %}" alt="">
                        <div class="gallery-overlay">
                            <a href="{% static 'img/sandra 14.jpg' %}" class="venobox vbox-item" data-gallery="gallery">
                            <i class="fa fa-picture-o"></i></a>
                        </div>
                    </div>
                    </li>
    
    
                    
                </ul>
            </div>

        </div>

        
    </section>
    </div>

    <!------------------Gallery section end--------------------->


    <!------------------Team section start--------------------->
    <br><br>
    <section class="team-area" id="team">
        <div class="contatiner">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center">
                        <h2><b>Our Team</b></h2>
                        <p>We offer a variety of services to you for your empowerment.<br> Fill free to engage! </p>
                    </div>
                </div>
            </div>
              <br><br><br><br>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                    <div class="team-man">
                        <img src="{% static 'img/jezeh clive.jpg' %}" alt="jezeh">
                    </div>
                    <div class="team-description">
                        <div class="team-title">
                            <h3>Jezeh Clive</h3>
                            <span>Manager</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet sit tu cherche anfidar voila l'histoire, tu va te faire mall continue toi sit ty cherhe anafidar</p>
                        <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                    <div class="team-man">
                        <img src="{% static 'img/jezeh clive.jpg' %}" alt="jezeh">
                    </div>
                    <div class="team-description">
                        <div class="team-title">
                            <h3>Daniel</h3>
                            <span>Manager</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet sit tu cherche anfidar voila l'histoire, tu va te faire mall continue toi sit ty cherhe anafidar</p>
                        <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                </div>
                

                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                    <div class="team-man">
                        <img src="{% static 'img/jezeh clive.jpg' %}" alt="jezeh">
                    </div>
                    <div class="team-description">
                        <div class="team-title">
                            <h3>Max pharon</h3>
                            <span>Manager</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet sit tu cherche anfidar voila l'histoire, tu va te faire mall continue toi sit ty cherhe anafidar</p>
                        <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                </div>
                

                <div class="col-sm-6 col-md-3">
                    <div class="team-block">
                    <div class="team-man">
                        <img src="{% static 'img/personality 1.jpg' %}" alt="jezeh">
                    </div>
                    <div class="team-description">
                        <div class="team-title">
                            <h3>Ambassador</h3>
                            <span>Manager</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet sit tu cherche anfidar voila l'histoire, tu va te faire mall continue toi sit ty cherhe anafidar</p>
                        <div class="team-social-network">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-whatsapp"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!------------------Team section end--------------------->

    <br><br>

    
    {% block events %}
        
    {% endblock events %}
        

   
    <!------------------footer section start--------------------->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="social-icon">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-whatsapp"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-youtube"></i></a>
                    </div>

                    <div class="copyright">
                        <p class="white">
                            &copy; <b>Talent Planet</b>
                            <br>
                            <b>By Lamp Technologies</b>
                        </p>
                        <div class="bordernow"></div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!------------------footer section end--------------------->


    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/typedlib/typed.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="{% static 'js/unslider.min.js' %}"></script>
    <script src="{% static 'js/templatemo_script.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>