{% extends "base.html" %}
{% load static %}

{% block events %}
<!------------------Event section start--------------------->

 <section class="event" id="event">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title text-center">
                    <h2><b>Events</b></h2>
                    <h3>Recent Events</h3>
                </div>
            </div>
        </div>
        <br><br>

        <div class="row">
            <div class="news-active">
            {% for event in object_list %}
            <div class="col-md-4">
                <div class="latest-news-wrap">
                        <div class="news-img">
                            <img src="{{ event.image }}" alt="" class="img-responsive">
                            <div class="date">
                                <span>12</span>
                                <span>June</span>
                            </div>
                        </div>
                    <div class="news-content">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-whatsapp"></i>
                        <i class="fa fa-instagram"></i>
                        <p>
                            Registration For Talent planet is now open
                            <br>
                            
                        </p><br>
                        <a href="" class="btn1">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}

                <div class="col-md-4">
                    <div class="latest-news-wrap">
                            <div class="news-img">
                                <img src="{% static 'img/comming soon.jpg' %}" alt="" class="img-responsive">
                                <div class="date">
                                    <span>--</span>
                                    <span>--</span>
                                </div>
                            </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-whatsapp"></i>
                            <i class="fa fa-instagram"></i>
                            <p>
                                <h4>Coming Soon!</h4>
                            </p><br>
                            <a href="" class="btn1">Coming Soon</a>
                        </div>
                    </div>
                </div>
        </div>
     </div>
     </div>


</section>

<!------------------Event section end--------------------->

{% endblock events %}
 